<%- include("partials/header.ejs") %>
<div class="page-container">
    <div class="content">
        <%if(typeof auth != "undefined" && auth === true ){%>
        <h1> Update/Delete Authors </h1>
        <%}else{%>
<h1 class="text-center"> Authors </h1>
        <%}%>

        <% for (i = 0; i < authors.length; i++) { %>
        <% if(typeof auth != "undefined" && auth === true ){ %>
        <a href="/authors/edit?authorId=<%= authors[i].authorId %>"><i class="bi bi-pencil-square"></i></a>

        <a href="/authors/delete?authorId=<%= authors[i].authorId %>"><i class="bi bi-trash text-danger"></i></a>
        <% } %>
        <a href="/authors/viewAuthor?authorId=<%= authors[i].authorId %>"><i class="bi bi-info-circle-fill"></i></a>
        <%= authors[i].firstName %>
        <%= authors[i].lastName %> <br>

        <% } %>
    </div>
</div>
<%- include("partials/footer.ejs") %>