<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Operations</title>
</head>
<body>

<h1>Updating Author Data</h1>

<form method="POST" action="/authors/edit">

    <input type="hidden" name="authorId" value="<%=authorInfo[0].authorId%>">

    <label for="fname">First Name:</label>
    <input type="text" name="fName" id="fname" value="<%=authorInfo[0].firstName%>">
    <br>

    <label for="lname">Last Name:</label>
    <input type="text" name="lName" id="lname" value="<%=authorInfo[0].lastName%>">
    <br>

    <label for="dob">Date of Birth:</label>
    <input type="date" name="dob" id="dob"  value="<%=authorInfo[0].dobISO%>">
    <br>

    <label for="dob">Date of Death:</label>
    <input type="date" name="dod" id="dod"  value="<%=authorInfo[0].dodISO%>">
    <br>

    <label>Gender:</label>
    <input type="radio" id="male" name="sex" value="M"

    <% if (authorInfo[0].sex === "M") { %>
           checked
            <% } %>

    > <label for="male">Male</label>

    <input type="radio" name="sex" id="female" value="F"

    <% if (authorInfo[0].sex === "F") { %>
           checked
            <% } %>

    > <label for="female">Female</label>
    <br>
    <label for="profession">Profession:</label>
    <input type="text" name="profession" id="profession" value="<%=authorInfo[0].profession%>"><br>

    <label for="country">Country</label>
    <input type="text" name="country" id="country" value="<%=authorInfo[0].country%>"><br>

    <label for ="portrait">portrait:</label>
    <input type="url" name="portrait" id="portrait" value="<%=authorInfo[0].portrait%>" placeholder="enter a direct url
    to
    image">
    <div>
        <label for="biography">Biography:</label><br>
        <textarea name="biography" id="biography" cols="30" rows="10"><%=authorInfo[0].biography%></textarea><br>
    </div>
    <br>

    <button>Update Author</button>


</form>

<br>
<% if (typeof message != "undefined"){ %>
<h3><%=message%></h3>
<% } %>

</body>
</html>
