<%- include("partials/header.ejs") %>
<div class="page-container">
    <h1 class="text-center">Updating Author Data</h1>
    <div class="content d-flex justify-content-center">


        <form method="POST" action="/quotes/new">

            <label for="authorId">Author:</label>
            <select name="authorId" id="authorId">
                <option>Select a author</option>
                <% for (var i = 0; i < authors.length; i++) { %>
                <option id="<%= authors[i].authorId %>" name="authors" value="<%= authors[i].authorId %>"><%= authors[i]
                            .firstName %>
                    <%= authors[i]
                            .lastName %></option>

                <% } %>
            </select>
            <br>

            <label for="quote">Quote Text:</label><br>
            <textarea name="quote" id="quote" cols="30" rows="10"></textarea>
            <br>


            <Label for="category">Category: </Label>
            <select name="category" id="category">
                <% for (var i = 0; i < categories.length; i++) { %>
                <option value="<%= categories[i].category %>"><%= categories[i].category %></option>
                <% } %>
            </select> <br>
            <label for="likes">Likes:</label>
            <input type="number" name="likes" id="likes" value="0">
            <br>
            <button>Add Quote</button>


        </form>

        <br>
        <% if (typeof message != "undefined"){ %>
        <h3><%= message %></h3>
        <% } %>
    </div>
</div>
<%- include("partials/footer.ejs") %>