<%- include("partials/header.ejs") %>
<div class="page-container mx-auto">
    <h1 class="text-center">Viewing Author Data: <%= authorInfo[0].firstName %> <%= authorInfo[0].lastName %> </h1>
    <div class="content d-flex m-auto">
        <div class="p-1">

        <img src="<%= authorInfo[0].portrait %>" width="200" height="auto" alt="img of <%= authorInfo[0].firstName %>
<%= authorInfo[0].lastName %>">
        </div>
        <div class="author-info p-2">

            <input type="hidden" name="authorId" value="<%= authorInfo[0].authorId %>" disabled>

            <label for="fname">First Name:</label>
            <input type="text" name="fName" id="fname" value="<%= authorInfo[0].firstName %>" disabled>
            <br>

            <label for="lname">Last Name:</label>
            <input type="text" name="lName" id="lname" value="<%= authorInfo[0].lastName %>" disabled>
            <br>

            <label for="dob">Date of Birth:</label>
            <input type="date" name="dob" id="dob" value="<%= authorInfo[0].dobISO %>" disabled>
            <br>

            <label for="dod">Date of Death:</label>
            <input type="date" name="dod" id="dod" value="<%= authorInfo[0].dodISO %>" disabled>
            <br>

            <label>Gender:</label>
            <input type="radio" id="male" name="sex" value="M"

            <% if (authorInfo[0].sex === "M") { %>
                   checked
                    <% } %>

                   disabled> <label for="male">Male</label>

            <input type="radio" name="sex" id="female" value="F"

            <% if (authorInfo[0].sex === "F") { %>
                   checked
                    <% } %>

                   disabled> <label for="female">Female</label>
            <br>
            <label for="profession">Profession:</label>
            <input type="text" name="profession" id="profession" value="<%= authorInfo[0].profession %>" disabled><br>

            <label for="country">Country</label>
            <input type="text" name="country" id="country" value="<%= authorInfo[0].country %>" disabled><br>


            <label for="biography">Biography: </label><br>
            <p><%= authorInfo[0].biography %></p>
            <br>

            <div class="d-flex mx-auto justify-content-center">
            <form action="/authors">
                <button class="btn btn-primary" type="submit">Back</button>
            </form>
            </div>
        </div>


    </div>
</div>
<%- include("partials/footer.ejs") %>